<html>
  <head>
    <title>About</title>
    <link rel="icon", href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This side was created by Markus it uses data from stuff</p>
    <img class="portrait" src="/img/test.jpeg" />
    </div>
    
   {{>footer}} 
  </body>
</html>